<!DOCTYPE html>
<html>
	<head>
    <%- include('partials/head', {title: "Mur d'image"}); %>
	</head>
	<body>
		<%- include('partials/nav'); %>
		<h1>Mur d'images</h1>
		<label for="sort-selection">Tris des images par</label>
		<select name="sort-selection" id="sort-selection" onchange="update_wall_sort_select(this, <%= current_page_id %>)">
			<option selected>id</option>
			<option>date</option>
			<option>likes</option>
			<option>views</option>
			<option>photographe</option>
		</select>
		<div id="image-wall"></div>
		<div>
			<% if(locals.previous_page_id != undefined) { %>
				<a href="/mur-images/<%= previous_page_id %>">&larr; page <%= previous_page_id %></a>
			<% } %>
			<% if(locals.next_page_id != undefined) { %>
				<a href="/mur-images/<%= next_page_id %>">page <%= next_page_id %> &rarr;</a>
			<% } %>
		</div>
		<%- include('partials/footer'); %>
		
		<script src="/public/scripts/main.js"></script>
		<script src="/public/scripts/mur.js"></script>
		<script>
			refresh_wall("<%= sorting %>", <%= current_page_id %>);
		</script>
	</body>
</html>
