<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head', {title: locals.photo.nom+" - "+photographe.prenom+"."+photographe.nom}); %>
	</head>
	<body>
		<%- include('partials/nav'); %>
		<h1><%= photo.nom %></h1>
		<h3>
			Posté le <%= photo.date.toLocaleString("fr-FR") %> par <a href="/profile/<%= photographe.id %>"><%= photographe.prenom[0] %>.<%=photographe.nom%></a>
		</h3>
		<div id="selectedImage-container">
			<img id="selectedImage" src="/public/images/<%=photo.fichier%>">
		</div>
		<div id="imageInfo">
			<div id="imageStats">
				<span id="viewCount"><%= photo.views %></span>&#128065; | <span id="likeCount"><%= photo.likes %></span>&hearts;
			</div>
			<form action="/like/<%= photo.id %>" onsubmit="like(event, this, <%= photo.id %>)" method="POST">
				<input class="like-btn" type="submit" value="Like &hearts;">
			</form>
			<div id="comment-container">
				Commentaires :
				<div id="comments">
					<% if( comments.length == 0 ) {%>
						<div>Aucun commentaire</div>
					<% } else { %>
						<% comments.forEach((comment) => { %>
							<div><%= comment.texte %></div>
						<% }) %>
					<% } %>
				</div>

				<form action="/comment/<%= photo.id %>" onsubmit="fcomment(event, this, <%= photo.id %>)" method="POST" enctype="multipart/form-data">
					<input required type="text" maxlength=64 autocomplete="off" id="comment" name="comment">
					<input type="submit" value="Ajouter un commentaire">
				</form>
			</div>
		</div>
		</div>
		<%- include('partials/footer'); %>

		<script src="/public/scripts/main.js"></script>
		<script src="/public/scripts/photo.js"></script>
		<script>
			update_stats(<%= photo.id %>);
		</script>
	</body>
</html>
